.todo-container{
    display: grid;
    place-items: center;
height: inherit;
width: 80rem;
gap:1.5rem;
}
header h1{
    color: white;
}
.todo-container header{
    height: 3.5rem;
    width: 15rem;
    margin-top: 0.5rem;
    /* font-weight: 800; */
    /* background-color: black; */
    border: 2px solid white;
    border-radius: 10px 0 10px 0;
}
.form input{
    height: 4rem;
    width: 15rem;
    border: none;
    border-radius: 20px 0 20px 0;
    position: relative;
    top: 30px;

}
.todo-btn{
    height: 2rem;
    width: 5rem;
    border: none;
    margin-top: 0.5rem;
    border-radius: 10px 0 10px 0;
    position: relative;
    top: 30px;
}

ul {
    max-height: 30rem;
    width: 20rem;
    /* background-color: yellow; */
    text-align: center;
    
}
ul li{
    height: 3rem;
    list-style: none;
    width: 15rem;
    background-color: white;
    color: black;
    border-radius: 10px 0 10px 0;
    margin-bottom: 1rem;
    font-size: 30px;
    margin-right: 1rem;
    position: relative;
    top:10px;
}
.btn-bar{
    display: flex;
    
}

.check-btn{
    position: relative;
    bottom: 45px;
    left:55px;
    border: none;
    height: 50 px;
    width: 40px;
    color:lightgreen;
    background-color: green;
    border-radius:100% ;
    margin-right: 2rem;
}
.delete-btn{
      position: relative;
    bottom: 45px;
    left:60px;
    border: none;
    height: 50 px;
    width: 40px;
    color:lightcoral;
    background-color: red;
    border-radius:100% ;
    margin-right: 2rem;
}
.date-time{
    width: 100vw;
    display: flex;
    flex-direction: row;
gap: 3rem;
position: relative;

}